p {
  font-family: "Lato";
  font: "Lato", sans-serif;
  font-size: 16px;
  color: $dark;
}

h1 {
  font-family: "Playfair Display";
  font: "Playfair Display", serif;
  color: $primary;
  padding-top: 1em;
}
