//colour
$primary: #e92569;
$light: #efefef;
$gray-200: #c7c7c7;
$dark: #767676;
$secondary: #0a0a0a;

$card-spacer-y: 1em;
$card-spacer-x: 1.5em;

//navbar

$navbar-padding-x: 1em;
$navbar-padding-y: 1em;

.navbar-brand {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 700;
}

//form
$form-check-input-width: 2em;

//button

/*
$btn-padding-y-lg: 0.7em;
$btn-padding-x-lg: 6em;
$btn-font-size-lg: 16px;
*/

//card-height

$card-height: 394px;

//carousel indicators
$carousel-indicator-width: 30px;
$carousel-indicator-height: 30px;
$carousel-indicator-active-bg: $primary;

//carousel picture

//pagination

$pagination-border-color: $primary;
$pagination-padding-x: 1em;

//fonts

$h1-font-size: 34px;
